.header {
  &__burger-menu {
    @include reset-button;
    @include square(48px);

    position: relative;

    &:hover {
      background-color: var(--color-accent);
      border-radius: var(--border-radius-small);
    }
    &::after {
      content: "";

      @include abs-center;
      box-shadow: 0px -8px, 0px 8px;
      width: 50%;
      height: 2px;
      position: absolute;
      background-color: var(--color-dark);
    }
  }
}
