.footer {
  margin-top: 140px;
  padding: 55px 60px 50px 60px;

  @include tablet {
    padding: 30px 30px;
    border-radius: 0;
  }

  @include mobile {
    margin-top: 90px;
    border-radius: 0;
  }

  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);

  @include mobile {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    &-logo {
      max-width: 180px;
      @include tablet {
        max-width: 160px;
      }
      @include mobile {
        max-width: 144px;
        max-height: 45px;
      }
    }

    &-list {
      display: flex;
      gap: 40px;
      text-decoration: underline;
      color: var(--color-light);
      @include tablet {
        gap: 15px;
      }
      @include mobile {
        flex-direction: column;
        margin-top: 37px;
        text-decoration: none;
      }
    }
  }
  &__social-media {
    display: flex;
    gap: 20px;

    @include mobile {
      margin-top: 37px;
    }
  }

  &__contact-us-wrapper {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 37px;
    }
    @include mobile {
      margin-top: 37px;
      justify-content: center;
    }
  }
  &__test {
    margin: 0 auto;
  }

  &__contact-us {
    margin-top: 37px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include tablet {
      text-align: center;
    }
    &-email {
      margin-top: 27px;
    }

    &-phone {
      margin-top: 20px;
    }

    &-adress {
      margin-top: 20px;
    }
  }
  &__form {
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius);
    padding: 58px 40px;
    max-width: 634px;
    width: 100%;

    white-space: nowrap;

    @include tablet {
      max-width: 534px;
      padding: 40px 30px;
      @include flex-center;
    }

    @include mobile {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 22px;
    }

    &-input {
      padding: 22px 0px 22px 35px;
      max-width: 285px;

      @include tablet {
        max-width: 240px;
      }
      @include mobile {
        max-width: 330px;
        height: 66px;
      }
      width: 100%;
      border-radius: var(--border-radius);
      background-color: var(--color-dark-alt);
      border: 1px solid #fff;
      color: var(--color-light);

      &::placeholder {
        color: var(--color-light);
      }
    }

    &-button {
      max-width: 245px;

      @include tablet {
        max-width: 200px;
        padding: 22px 35px;
        @include flex-center;
        max-height: 61px;
      }
      @include mobile {
        @include mobile {
          max-width: 330px;
          height: 66px;
          margin-left: 0;
        }
      }
      width: 100%;
      padding: 20px 35px;
      font-size: 20px;
      margin-left: 20px;
      background-color: var(--color-accent);
      border-radius: var(--border-radius);
      cursor: pointer;

      &:hover {
        background-color: var(--color-dark);
        color: var(--color-light);
      }
    }
  }

  &__privacy-policy {
    margin-left: 40px;
    text-decoration: underline;
    cursor: pointer;

    @include mobile {
      margin-left: 0;
      text-decoration: none;
    }
  }
  &__rights-wrapper {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #fff;
    display: flex;
    @include mobile {
      flex-direction: column;
      gap: 15px;
      align-items: center;
      margin-top: 37px;
      padding-top: 37px;
    }
  }
}
