.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;
  @include tablet {
    grid-template-columns: repeat(1, 1fr);
  }

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }
}

$mobile-s: 480px;
@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}
