.process {
  &__upper {
    margin-top: 140px;
    display: flex;
    gap: 40px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &:first-child {
      margin-top: 80px;
    }

    @include mobile {
      &:first-child {
        margin-top: 30px;
        gap: 20px;
      }
    }
  }
  &__accordion {
    --VerticalRotate: 90deg;
    --PaddingBottom: 0px;
    padding: 40px 60px 30px 60px;
    @include tablet {
      padding: 35px 50px 30px 50px;
    }
    @include mobile {
      padding: 30px 40px 30px 40px;
    }
    @include mobile-s {
      padding: 30px;
    }
    border-radius: var(--border-radius-large);
    &[open] {
      background-color: var(--color-accent);
      --VerticalRotate: 0deg;
      --PaddingBottom: 30px;
    }
    &-header {
      padding-bottom: var(--PaddingBottom);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__item {
    border-radius: var(--border-radius-large);
    border: var(--border);
    box-shadow: 0px 5px 0px;
    cursor: pointer;
    &-toggle {
      max-width: 58px;
      height: 58px;
      width: 100%;
      @include tablet {
        max-width: 45px;
        max-height: 45px;
      }
      @include mobile {
        max-width: 39px;
        max-height: 39px;
      }

      @include mobile-s {
        max-width: 30px;
        max-height: 30px;
      }
      border-radius: 50%;
      border: 1px solid black;
      flex: 0 0 auto;
      background-color: var(--color-gray);
      position: relative;

      &::before,
      &::after {
        @include abs-center;
        content: "";
        width: 45%;
        height: 10%;
        background-color: var(--color-dark);
      }
      &::after {
        rotate: var(--VerticalRotate);
        transition: var(--transition-duration);
      }
    }
  }
  &__accordion-title {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
    &-num {
      @include fluid-text(60, 30);
    }
    &-text {
      max-width: 612px;
      @include fluid-text(30, 18);
      @include mobile {
        max-width: 203px;
      }
    }
  }
  &__text {
    max-width: 292px;
    @include fluid-text(18, 16);
    @include mobile {
      max-width: none;
    }
  }
  &__title {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-small);
    line-height: 51px;
    align-items: flex-start;
    padding: 0px 7px;
    @include mobile {
      background-color: var(--color-light);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-piece {
      @include mobile {
        padding: 0px 7px;
        background-color: var(--color-accent);
        border-radius: var(--border-radius-small);
      }
    }
  }
  &__accordion-inner-text {
    border-top: var(--border);
    padding-top: 30px;
    padding-bottom: 41px;
    @include fluid-text(18, 16);
  }
}
